n8n_curriculo_geovane.json
 {
  "name": "Enviar Curr\u00edculo Di\u00e1rio com IA",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9,
            "minute": 0
          }
        ]
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sheetId": "INSIRA_O_ID_DA_SUA_PLANILHA",
        "range": "Empresas_Contato!A1:C",
        "filter": {
          "rawData": false,
          "filterType": "includes",
          "filters": [
            {
              "column": "Status",
              "value": "Pendente"
            }
          ],
          "limit": 1
        }
      },
      "name": "Google Sheets - Buscar Empresa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "user",
            "content": "Gere um e-mail profissional e curto (3 a 5 linhas) para envio de curr\u00edculo. Varie o estilo e tom a cada gera\u00e7\u00e3o. Evite repetir frases anteriores. N\u00e3o cite nomes de empresa nem pessoas. Gere tamb\u00e9m um t\u00edtulo para o e-mail, diferente a cada vez.\n\nFormato de resposta:\nAssunto: <assunto do e-mail>\nCorpo: <corpo do e-mail>"
          }
        ]
      },
      "name": "OpenAI - Gerar Texto",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "seuemail@gmail.com",
        "toEmail": "={{ $json[\"Email\"] }}",
        "subject": "={{ $json[\"assunto\"] }}",
        "text": "={{ $json[\"corpo\"] + '\\n\\nEm anexo, segue meu curr\u00edculo.\\n\\nGeovane de Moura Sampaio\\n\ud83d\udcde (85) 92145-8536\\n\ud83d\udd17 www.linkedin.com/in/geovane-sampaio-a7a750372' }}",
        "attachments": [
          {
            "binaryPropertyName": "curriculo"
          }
        ]
      },
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "sheetId": "INSIRA_O_ID_DA_SUA_PLANILHA",
        "range": "Empresas_Contato!A1:C",
        "keyColumn": "Email",
        "updateData": [
          {
            "column": "Status",
            "value": "Enviado"
          }
        ]
      },
      "name": "Google Sheets - Marcar como Enviado",
      "type": "n8n-nodes-base.googleSheetsUpdate",
      "typeVersion": 3,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Google Sheets - Buscar Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Buscar Empresa": {
      "main": [
        [
          {
            "node": "OpenAI - Gerar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Gerar Texto": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Google Sheets - Marcar como Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
